.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  @media screen and (max-width: 1024px) {
    .lead {
      max-width: calc(100% - 2*48px);
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
      max-width: 100%;
      padding-bottom: 88px;
    }
  }
  @media screen and (max-width: 480px) {
    .lead {
      max-width: 100%;
      padding-bottom: 64px;
    }
  }