.intro {
    margin: 0 auto;
    max-width: 984px;
    padding-bottom: 92px;
    display: flex;
    flex-direction: column;

  }
  @media screen and (max-width: 1024px) {
    .intro {
      width: calc(100% - 2*48px);
    }
  }

  @media screen and (max-width: 768px) {
    .intro {
      width: calc(100% - 24px*2);
      padding-bottom: 88px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .intro {
      width: calc(100% - 2*16px);
      padding-bottom: 64px;
    }
  }