.lead__subtitle {
  margin: 0 auto;
  padding-bottom: 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  align-self: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}


@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 40px;
  }
}