.places__place {
    padding: 0;
    margin: 0;
    display: grid;
    row-gap: 80px;
     width: 100%;
    padding: 0;
    margin: 0 auto;
}
@media screen and (max-width: 480px) {
    .places__place {
        display: grid;
        row-gap: 50px;;
    }
}